html{
    min-height:100%;
}
body{
    background-color: rgb(42, 83, 218);
    color:white;
    min-height:100vh;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-start;

}