/*!*****************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/index.css ***!
  \*****************************************************************/
html{
    min-height:100vh;
}
body{
    background-color: #fafafa;
    color:white;
    min-height:100vh;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 0;

}
#root{
    min-height:100vh;
    width: 100%;
}

/*!*****************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/componentes/Barra.css ***!
  \*****************************************************************************/
.barContainer{
    width:100%;
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content:center;
    border-bottom: 1px  solid #c2c2c2;
}

.mainContainer{
    width: 975px;
    height: 60px;
    display: flex;
    justify-content:space-evenly;
    align-items:center;
}

.logoContainer{
    margin-top:7px;
    width: 103px;
    height: 29px;
}

.logoContainer:hover {
    opacity: 0.5;
}

.logo{
    width: 103px;
    height: 29px;
}

.searchBar{
    width: 268px;
    height: 40px;
    background-color: #EFEFEF;
    border-radius:8px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.clase1{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    outline: none;
}

.clase2{
    border: 0;
    padding: 3px 16px;
}

.clase3{
    background: rgba(var(--bb2,239,239,239),1);
    font-size: 16px;
}

.searchIcon{
    margin-top:7px;
    margin-left: 5px;
}

.iconsContainer{
    width: 278px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.icono:hover{
    opacity: 0.5;
}
.icono{
    margin-top:7px;
    width: 30px;
    height: 30px;
}

.profilePhoto{
    border-radius:25px;
    overflow: hidden;
}

.profileImg{
    width:100%;
    height:100%;
}
/*!*********************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/componentes/Historias.css ***!
  \*********************************************************************************/
.historiasContainer{
    margin:10px;
    width: 614px;
    height: 135px;
    background-color: #FFF;
    border-radius:3px;
    border: 1px solid rgba(var(--b6a,219,219,219),1);
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;

}
.imageContainerBorder{
    border-radius: 45px;
    width: 66px;
    height: 66px;
    background:linear-gradient(45deg, orange,#8e0f9f );
    display: flex;
    justify-content: center;
    align-items: center;
}
.historiaContainer:hover{
    cursor: pointer;
}
.historiaContainer{
    width: 90px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-overflow: ellipsis;
    margin: 5px;
}
.image{
    width: 56px;
    height: 56px;
    border-radius: 45px;
    overflow: hidden;
    display: flex;
    justify-content:center;
    align-items:center;
    background-color: #fff;
    border: 3px solid #fff;
}
.profileImg{
    width:100%;
    height: 100%;
    object-fit:fill;
}
.usernameContainer{
    display: flex;
    width: 100%;
    justify-content:center;
    align-items:center;
    
}
.username{
    color: #333333;
    width: 100%;
    font-size: 12px;
    line-height: 16px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}





/*!***********************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/componentes/Sugerencias.css ***!
  \***********************************************************************************/
.SugerenciasContainer{
    margin-top:10px;
    display: flex;
    flex-direction: column;
    height: 600px;
}
.profileSection{
    height: 100px;
    display: flex;
    justify-content:flex-start;
    align-items:center;
    flex-direction: row;
}
.imageContainer{
    border-radius:50px;
    width:60px;
    height:60px;
    overflow: hidden;
    margin-right: 10px;
}

.profilePicture{
    width:100%;
    height:100%;
}

.usernameContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 10px;
    width: auto;
}

.usernameS{
    font-size: 14px;
    color: rgba(var(--i1d,38,38,38),1);
    font-weight: 600;
    overflow-x: hidden;
    text-overflow: ellipsis;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.nameS{
    margin-top: 3px;
    font-size: 14px;
    color: #8e8e8e;
    font-weight: 600;
    overflow-x: hidden;
    text-overflow: ellipsis;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}
.cambiarContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}
.cambiarTexto{
    color: #0095f6;
    font-size: 14px;
    font-weight: 600;
    overflow-x: hidden;
    text-overflow: ellipsis;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}


.titulos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
}
.titulo1{
    color: #8e8e8e;
    font-size: 14px;
    font-weight: 600;
    overflow-x: hidden;
    text-overflow: ellipsis;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.vertodo{
    color: #000;
    font-size: 14px;
    font-weight: 600;
    overflow-x: hidden;
    text-overflow: ellipsis;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;

}

.sugerencias{
    width: 400px;
    height : 60px;
}
.sug{
    height: 45px;
    width: 45px;
}
.cambiarContainer{
    margin-left: auto;
}
/*!*****************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/componentes/PantallaPrincipal.css ***!
  \*****************************************************************************************/
.container{
    background-color: #f1f0f0;
    min-height:100vh;
    width: 100%;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mainContentContainer{
    margin-top:10px;
    width: 920px;
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: row;

}

.sugerencias{
    width:293px;
}
